{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "simple-import-sort", "import", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [".*"]
      }
    ],
    "@typescript-eslint/no-empty-interface": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [["^\\u0000"], ["^node:", "^react", "^\\w"], ["^@", "^"]]
      }
    ],
    "simple-import-sort/exports": "warn",
    "react/react-in-jsx-scope": "off"
  }
}
